# Chave secreta de autenticação JWT / Sessão
JWT_SECRET="captivehub_secret_key_qa_2026"

# Configurações do Firebase Admin SDK (para utilizar Firebase como Banco de Dados NoSQL)
FIREBASE_PROJECT_ID="seu-projeto-firebase-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@seu-projeto-firebase-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# (Opcional) Alternativa utilizando a string JSON completa da Service Account
# FIREBASE_SERVICE_ACCOUNT_KEY='{"type": "service_account", ...}'

# (Opcional / Legado) Conexão com o Banco de Dados PostgreSQL caso utilize Prisma
DATABASE_URL="postgresql://admin:secretpassword@localhost:5432/captivehub?schema=public"
