# Conexão com o Banco de Dados PostgreSQL (Local / QA / Homologação)
DATABASE_URL="postgresql://admin:secretpassword@localhost:5432/captivehub?schema=public"

# Chave secreta de autenticação JWT / Sessão
JWT_SECRET="captivehub_secret_key_qa_2026"
